body {
  background-color: #dadada;
  font-size: 10px;
}

.container {

}

.container > h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 25px 0;
  letter-spacing: 1px;
}

.emphasis {

}

.preview {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 20px 0;
}

.preview h1 {
  padding: 30px 0 0 30px;
  font-size: 2.5em;
}

.baku {
  background-image: url(../images/baku.jpg);
}

.london {
  background-image: url(../images/london.png);
}

.madrid {
  background-image: url(../images/madrid.jpg);
}

.rome {
  background-image: url(../images/rome.jpg);
}

@media screen and (min-width: 575px){

}

@media screen and (min-width: 991px){

}
